@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  min-height:100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background:hsl(207, 26%, 17%)
}
*{
  font-family: Nunito Sans;
}
.elem-dark-blue{
  background : hsl(209, 23%, 22%) !important;
  transition:0.3s;
}
.elem-lighter-blue{
  background : hsl(209, 23%, 30%) !important;
  transition:0.3s;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: hsl(207, 26%, 12%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background : hsl(209, 23%, 35%);
}
.scl-hov{
  transition:0.3s;
 
}
.scl-hov:hover{
  transform:scale(1.1);
}
.bg-dark-blue{
  background:hsl(207, 26%, 17%)
}